.wrap-services {
  .image {
    overflow: hidden;
  }
}

.services-main {
  background: #fff;
  margin-bottom: 40px;
  font-weight: 500;

  p {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 18px;
    line-height: 16px;
    background-color: #f2f2f2;
    padding: 8px 11px;
    margin-top: -2px;

    span {
      display: inline-block;
      padding: 7px 13px 9px;
      background-color: #f2f2f2;
    }
  }

  .services-element {
    margin-bottom: 1px;
    padding-left: 1px;
    position: relative;
    max-height: 250px;

    .wrap-services {
      box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.05);
      height: 100%;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      &:hover {
        text-decoration: none;
      }

      img {
        border-radius: 0;
      }
      .content {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        font-weight: bold;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 21px;
        padding: 9px 11px 8px;
        text-transform: uppercase;
        background-color: fade(@primary-color, 80%);;
        color: #fff;
        font-size: 13px;
        -webkit-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        transition: all linear 0.2s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;

        span {
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;
          margin: 17px auto 0;
          opacity: 0;
          display: block;
          width: 113px;
          height: 29px;
          border: 1px solid #fff;
          border-radius: 3px;
          line-height: 29px;
          padding: 0 15px;
          -webkit-transition-delay: 0s, 0s;
          -o-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
          -webkit-transition-property: position, opacity;
          -o-transition-property: position, opacity;
          transition-property: position, opacity;

          &:hover {
            background: #fff;
            color: @primary-color;
          }
        }
      }
    }
  }

  .view-more {
    //padding: 0 19px 0 48px;
    //height: 42px;
    //line-height: 38px;

    //&::before {
    //  content: "";
    //  position: absolute;
    //  background: url("../img/refresh.png") 50% 50% no-repeat;
    //  width: 16px;
    //  height: 16px;
    //  top: 12px;
    //  left: 19px;
    //}
  }

  .uk-grid {
    margin-left: -1px;
  }
}

//.service-main-mobile {
//  .view-more {
//    padding: 0 19px 0 48px;
//    height: 42px;
//    line-height: 38px;
//    //border: none;
//    -webkit-transition: 0s;
//    -o-transition: 0s;
//    transition: 0s;
//
//    &:hover {
//      background-color: @primary-color;
//      color: #fff;
//
//      &::before {
//        background: url("../img/refresh-w.png") 50% 50% no-repeat;
//      }
//    }
//
//    &::before {
//      content: "";
//      position: absolute;
//      background: url("../img/refresh.png") 50% 50% no-repeat;
//      width: 16px;
//      height: 16px;
//      top: 12px;
//      left: 19px;
//    }
//  }
//}

.services_index:not(.no-hover) .services-element:hover .wrap-services .content {
  top: 0 !important;
  bottom: 0;
  right: 0;
  left: 1px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;

  span {
    position: static;
    opacity: 1;
    -webkit-transition-delay: 0.2s, 0.2s;
    -o-transition-delay: 0.2s, .2s;
    transition-delay: 0.2s, .2s;
    -webkit-transition-property: position, opacity;
    -o-transition-property: position, opacity;
    transition-property: position, opacity;
  }
}

.services-element {
  .image {
    position: relative;
    height: 250px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-height: 250px;
      width: auto;
      max-width: none;
    }
  }
}

.service-image {
  position: relative;
  margin-bottom: 20px;

  .main-first-info__print {
    top: 0;
    padding: 7px 12px 10px 40px;
    border-bottom-left-radius: 4px;
    color: #000;
    background: url("../img/print-btn.png") 14px 50% no-repeat rgba(255,255,255,0.5);
    font-size: 12px;

    span {
      top: -1px;
    }
  }
}

.card-service {
  margin-top: 2px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-left: 8px;
    position: relative;
    margin-bottom: 2px;

    a {
      color: @primary-color;
      border-bottom: 1px solid rgba(225, 43, 8, 0.35);

      &:hover {
        text-decoration: none;
      }
    }

    &:before {
      position: absolute;
      content: '\00B7';
      left: -7px;
      top: 0;
      color: @primary-color;
    }
  }
}

.card-services-slider-wrap {
  position: relative;

  .customNextBtn, .customPrevBtn {
    position: absolute;
    z-index: 10;
    top: ~"calc(50% - 10px)";
  }

  .customNextBtn {
    right: -20px;
  }

  .customPrevBtn {
    left: -20px;
  }
}

.card-services-slider {
  position: relative;
  overflow: hidden;

  .slick-list {
    margin-right: -27px;
  }

  .slick-slide {
    margin-right: 26px;
  }

  .customPrevBtn {
    position: absolute;
    z-index: 10;
    top: ~"calc(50% - 20px)";
    left: 8px;
  }

  .customNextBtn {
    position: absolute;
    z-index: 10;
    top: ~"calc(50% - 20px)";
    right: -17px;
  }
}

.card-services {
  margin-bottom: 40px;

  .completed-project-inner {
    display: block;
  }

  .completed-project-item {
    width: 100%;
  }

  .completed-project__img {
    img {
      min-width: 100%;
    }
  }
}


@media all and (max-width: 1300px) {
  .card-services-slider-wrap {
    .slick-list {
      margin-right: -25px;
    }

    .customPrevBtn {
      left: 20px;
    }

    .customNextBtn {
      right: 20px;
    }
  }

  .card-services-slider .customPrevBtn {
    left: 39px;
  }

  .card-services-slider .customNextBtn {
    right: 14px;
  }
}

@media all and (max-width: 767px) {
  .card-services-slider-wrap {
    .customPrevBtn,.customNextBtn {
      display: none;
    }
  }

  .card-services-slider .slick-slide {
    //margin: 0 5px;
    margin-right: 10px;
  }

  .card-services-slider .slick-list {
    margin-right: -10px;
  }
}

@media all and (max-width: 1300px) {
  .services_index:not(.no-hover) .services-element:hover .content {
    top: auto !important;
    bottom: 15px;
    right: 21px;
    left: 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .services_index:not(.no-hover) .services-element:hover .wrap-services .content span {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .service-main-mobile {
    display: block;
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .service-main-mobile .container {
    padding-left: 0;
    padding-right: 0;
  }

  .service-main-mobile .main-title {
    padding-left: 10px;
  }

  .service-main-mobile .main-title {
    margin-bottom: 22px;
  }

  .service-m-el-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;

  }

  .service-m-el {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 320px;
    -webkit-flex: 0 1 320px;
    flex: 0 1 320px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .service-m-el__title {
    position: absolute;
    left: 15px;
    right: 15px;
    text-align: center;
    bottom: 11px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 600;
  }

  .service-m-el__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(49.17%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 49.17%);
    background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 49.17%);
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 49.17%);
  }

  .service-m-el img {
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .service-m-el a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .service-m__lnk-wrap {
    text-align: center;
  }

  .service-m-el__title {
    position: absolute;
    left: 15px;
    right: 15px;
    text-align: center;
    bottom: 11px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 600;
  }

  .card-services-slider .customPrevBtn {
    left: 39px;
  }

  .card-services-slider .customNextBtn {
    right: 14px;
  }
}

@media all and (max-width: 768px) {
  .service-main-mobile {
    border-bottom: 1px solid #f2f2f2;
  }
}

@media screen and (max-width: 480px) {
  .service-main-mobile .view-more {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .card-services-slider {
    overflow: hidden;
  }

  .recomended-slider {
    overflow: hidden;
  }
}